/* FOOD CARD START */
/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
}
.card-img{
    position: absolute;
    width: 260px;
    filter: drop-shadow(5px 10px 15px rgba(8,9,12,.2));
    transform: translate(.2rem, -8.5rem);
}
.card{
    width: 320px;
    height: 380px;
    background-color: #FEFFE2;
    border-radius: 1rem;
    padding: 4rem 2rem 0;
}
.card-title{
    font-size: 1.5rem;
    color: #002366;
    margin-bottom: .5rem;
}
.card-data{
    transform: translateY(4.8rem);
    border: 2px solid black;
    padding: 1.1rem;
    border-radius: 10px;
    
}
.card-price{
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.car-descrption{
    font-size: 1rem;
    margin-bottom: 1.25rem;
}
.card-button{
    display: block;
    width: max-content;
    padding: 1.125rem 2rem;
    background-color: #002366;
    color: #fff;
    border-radius: .5rem;
    font-weight: 600;
    margin-top: 30px;
} */
/* FOOD CARD END */

/* WEATER ICON START */
/* body
{

	background:#CBCBCB	;
}
div{
    width: 130px;
    height: 130px;
    border-radius: 40%;
    z-index: 120;
}


.hot{
    position: absolute;
    top: 25%;
    left: 20%;
    background: linear-gradient(to top right, rgba(255,87,34,1)0%, rgba(255,140,0,1)100%);
    box-shadow: 1px 1px 30px rgb(116, 67, 30);
}
.sun{
    position: absolute;
    top:-10%;
    left: 65%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: linear-gradient(to bottom left, rgba(255,253,59,1)0%, rgba(249,168,37,1)90%);
    box-shadow: 1px 1px 30px rgba(255,160,0,1);
    animation: inex 3s infinite linear;
    
}
.sunx{
    position: absolute;
    top: 30%;
    left: 45%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fff;
    opacity: 0.2;
}



.cloudy{
    position: absolute;
    top: 25%;
    left: 45%;
    background: linear-gradient(to top right, rgba(63,81,181,1)0%, rgba(3,155,229,1) 40%);
    box-shadow: 1px 1px 30px rgba(2,199,189,1);
}
.cloud{
    position: absolute;
    top: 5%;
    left: 70%;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(129,212,250,1);
    box-shadow: 1px 1px 30px rgba(0,151,151,1);
    animation: move 3s infinite linear;    
}
.cloudx{
    position: absolute;
    top: 23%;
    left: 55%;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(129,212,250,1);
}



.stormy{
    position: absolute;
    top: 25%;
    left: 70%;
    background: linear-gradient(to top right, rgba(117,117,117,1)0%,rgba(33,33,33,1)90%);
    box-shadow: 1px 1px 30px rgba(33, 33, 33,1);
}
.stormy li{
    position: absolute;
    list-style: none;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #777;
    box-shadow: 1px 1px 30px #555;
    animation: fall 3s infinite linear;
    opacity: 0;
}
.stormy li:nth-child(1){
    top: 0%;
    left: 100%;
}
.stormy li:nth-child(2){
    top:5%;
    left:90%;
}
.stormy li:nth-child(3){
    top:-10%;
    left:80%;
    animation-delay: 2s;
}
.stormy li:nth-child(4){
    top:10%;
    left:100%;
    animation-delay:2s;
}
.stormy li:nth-child(5){
    top:20%;
    left:80%;
    animation-delay:0.5s;
}
.stormy li:nth-child(6){
    top:35%;
    left:70%;
    background-color:#bbb;
    animation-delay: 0.8s;
}
.stormy li:nth-child(7){
    top:23%;
    left:60%;
    background-color:#bbb;
    animation-delay:0.5s;
}
.stormy li:nth-child(8){
    top:5%;
    left:70%;
    background-color:#bbb;
    animation-delay:0.8s;
}
.snowe{
    position:absolute;
    top:60%;
    left:40%;
    width:40px;
    height: 40px;
    border-radius:60px;
    background-color:#ddd;
}
.snowex{
    position: absolute;
    top:50%;
    left:50%;
    width:15px;
    height:15px;
    border-radius: 15px;
    background-color:#bbb;
}
.stick{
    position: absolute;
    top:60%;
    left:40%;
    width:3px;
    height: 15px;	
    transform: rotate(-45deg);
    background-color: #333;
    z-index: -10;
}
.stick2{
    position: absolute;
    top:60%;
    left:70%;
    width:3px;
    height: 15px;	
    transform: rotate(45deg);
    background-color: #333;
    z-index: -10;
}


.breezy{
    position:absolute;
    top:60%;
    left:30%;
    background: linear-gradient(to top right, rgba(156,204,101,1)0%,rgba(38,198,218,1)50%);
    box-shadow: 1px 1px 30px rgba(38,198,218,1);
}
.cloudr{
    position: absolute;
    top: 5%;
    left: 60%;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(96,125,139,1);
    animation: flash 1.5s infinite linear;
}
.breezy li{
    position: absolute;
    list-style: none;
    width: 2px;
    height: 7px;
    border-radius: 10%;
    background-color: #eee;
    opacity: 0;
    animation: fall 3s infinite linear;
    transform: rotate(25deg);
}
.breezy li:nth-child(1){	
top:10%;
left:95%;
}

.breezy li:nth-child(2){
top:5%;
left:83%;
animation-delay:0.3s;
}

.breezy li:nth-child(3){
top:4%;
left:87%;
animation-delay:0.6s;
}

.breezy li:nth-child(4){
top:15%;
left:70%;
animation-delay:1s;
}

.breezy li:nth-child(5){
top:10%;
left:75%;
}


.night{
    position: absolute;
    top: 60%;
    left: 60%;
    background: linear-gradient(to bottom right, rgba(63,81,181,1) 0%, rgba(171,71,188,1) 70%);
    box-shadow: 1px 1px 30px rgba(81,45,168,1);
}
.moon{
    position: absolute;
    top: -10%;
    left: 65%;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: rgba(255,241,188,1);
    box-shadow: 1px 1px 30px rgba(244,244,244,1);
}
.spot1{
    position: absolute;
    top: 0%;
    left: 85%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #777;
}
.spot2{
    position: absolute;
    top:30%;
    left: 75%;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #777;
}
.night li{
    position: absolute;
    list-style: none;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #fff;
    transform: rotate(45deg);
}
.night li:nth-child(1)
{
	
top:30%;
left:65%;
}

.night li:nth-child(2)
{
top:35%;
left:53%;
}

.night li:nth-child(3)
{

opacity: 0;
top:20%;
left:75%;
width:2px;
height: 2px;
animation: meteor 1.5s infinite linear;
animation-delay: 0.6s;

}

.night li:nth-child(4)
{
top:5%;
left:50%;
}

.night li:nth-child(5)
{
	opacity: 0;
top:20%;
left:55%;
width:1px;
height: 15px;
animation: meteor 1.5s infinite linear;
}

@keyframes inex {
    50%{
        opacity: 0.4;
    }
    60%{
        opacity: 1;
    }
}

@keyframes move{
    50%{
        transform: translateX(-10px);
    }
}
@keyframes fall{
    10%{
        opacity: 0.8;
    }
    50%{
        opacity: 1;
        transform: translate(-10px,30px);
    }
    100%{
        transform: translate(-25px,70px);
    }
}
@keyframes flash {
    48%{
		background-color: rgba(96,125,139 ,1);
	}
    50%{
        background-color: #fff;
    }
    55%{
        background-color: rgba(96,125,139,1);
    }
    57%{
        background-color: #fff;
    }
}
@keyframes meteor {
    10%{
        opacity: 1;
    }
    80%{
        left: 10%;
        top: 75%;
        opacity: 0;
    }
} */
/* WEATER ICON END */

/* PROFILE CARD START */
/* body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    position: relative;
    width: 290px;
    height: 400px;
    background: #121212;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.main-container::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(./img/Michele_Cozzola_Foto_Profilo.jpg) center/cover;
    transition: .7s ease;
}
.main-container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#121212 6%,transparent);
    opacity: 0;
    transition: .7s ease;
    z-index: 1;
}
.info{
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    height: 110px;
    text-align: center;
    font-size: 15px;
    opacity: 0;
    transition: .7s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1;
}
#name{
    font-weight: bolder;
}
.links a{
    color: #fff;
    font-size: 21px;
    padding: 5px 13px;
}
.main-container:hover .info{
    opacity: 1;
}
.main-container:hover::before{
    opacity: 1;
}
.main-container:hover::after{
    transform: scale(1.06);
} */
/* PROFILE CARD END */

/* GENERIC CARD START */
/* *{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    background-color: #000000;
}
.title{
    text-align: center;
    transform: translateY(20px);
    font-size: 45px;
    color: #86003c;
    text-transform: uppercase;
}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) translateZ(0);
    width: 370px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.5s;
}
.card_thumb{
    height: 245px;
    overflow: hidden;
    background-color: #000;
    transition: height 0.5s;
}
.card_thumb img{
    display: block;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s, transform 0.5s;
}
.card:hover .card_thumb{
    height: 130px;
}
.card:hover .card_thumb img{
    opacity: 0.6;
    transform: scale(1.2);
}
.card_body{
    position: relative;
    height: 185px;
    padding: 20px;
    transition: height 0.5s;
}
.card:hover .card_body{
    height: 300px;
}
.card a{
    color: inherit;
    text-decoration: none;
}
.card:hover{
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
.card_date{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    padding-top: 10px;
    background-color: #86003c;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 13px;
}
.card_date_day{
    font-size: 14px;
}
.card_date_month{
    text-transform: uppercase;
    font-size: 10px;
}
.card:hover .card_description{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
}
.card_footer{
    position: absolute;
    bottom: 12px;
    left: 20px;
    right: 20px;
    font-size: 11px;
    color: #a3a9a2;
}
.icon{
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 2px;
    font-size: 18px;
}
.icon + .icon{
    padding-left: 10px;
}
.card_category{
    position: absolute;
    top: -25px;
    left: 0;
    height: 25px;
    padding: 0 15px;
    background-color: #86003c;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 25px;
}
.card_title{
    margin: 0;
    padding: 0 0 10px 0;
    color: #000;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
.card_subtitle{
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 19px;
    color: #86003c;
}
.card_description{
    position: absolute;
    left: 20px;
    right: 28px;
    bottom: 56px;
    margin: 0;
    padding: 0;
    color: #666c74;
    line-height: 27px;
    opacity: 0;
    transform: translateY(45px);
    transition: opacity 0.3s, transform 0.3s;
    transition-delay: 0s;
}
article{
    border-radius: 10px;
} */
/* GENERIC CARD END */

/* RECIPE CARD START */
/* html{
    background: #faf7f2;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
.u-clearfix::before,
.u-clearfix::after{
    content: '';
    display: table;
}
.u-clearfix::after{
    clear: both;
}
.u-clearfix{
    zoom: 1;
}
.subtitle{
    color: #aaa;
}
.card-container{
    margin: 25px auto 0;
    position: relative;
    width: 692px;
}
.card{
    background-color: #fff;
    padding: 30px;
    position: relative;
    box-shadow: 0 0 5px rgba(75, 75, 75, 0.7);
    z-index: 1;
}
.card-body{
    display: inline-block;
    float: left;
    width: 310px;
}
.card-number{
    margin-top: 15px;
}
.card-circle{
    border: 1px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    height: 25px;
    text-align: center;
    width: 25px;
}
.card-author{
    display: block;
    font-size: 12px;
    letter-spacing: 5px;
    margin: 15px 0 0;
    text-transform: uppercase;
}
.card-title{
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
}
.card-description{
    display: inline-block;
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
}
.card-read::after{
    background-color: #b8bddd;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 75%;
}
.card-tag{
    float: right;
    margin: 5px 0 0;
}
.card-media{
    float: right;
    width: 300px;
    height: 320px;
    background-image: url('./img/brunch.jpg');
    background-position: center;
    background-size: cover;
}
.card-shadow{
    background-color: #fff;
    box-shadow:0 2px 25px 2px rgba(0, 0, 0, 1), 
    0 2px 50px 2px rgba(0, 0, 0, 1),
    0 0 100px 3px rgba(0, 0, 0, 25);
    height: 1px;
    margin: -1px auto 0;
    width: 80%;
    z-index: -1;
} */
/* RECIPE CARD END */

/* FLASH MESSAGE START */
*{
    font-family: 'Lato', sans-serif;
}
:root{
    --green:#4ec07d;
    --bg:#fcfcfc;
    --red:#e96075;
}
html{
    display: grid;
    min-height: 100%;
}
body{
    display: grid;
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
    
}
#container{
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 700px;
    height: 250px;
}
h1{
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 3px;
    padding-top: 5px;
    color: var(--bg);
    padding-bottom: 5px;
    text-transform: uppercase;
}
.green{
    color: var(--green);
}
.dot{
    width: 8px;
    height: 8px;
    background: var(--bg);
    border-radius: 50%;
    position: absolute;
    top: 4%;
    right: 6%;
}
.dot:hover{
    background: #c9c9c9;
}
.two{
    right: 12%;
    opacity: 0.5;
}
.face{
    position: absolute;
    width: 25%;
    height: 20%;
    background: var(--bg);
    border-radius: 50%;
    border: 1px solid #777;
    top: 21%;
    left: 37.5%;
    z-index: 2;
    animation: bounce 1s ease-in infinite;
}
.face2{
    position: absolute;
    width: 25%;
    height: 20%;
    background: var(--bg);
    border-radius: 50%;
    border: 1px solid #777;
    top: 21%;
    left: 37.5%;
    z-index: 2;
    animation: roll 3s ease-in-out infinite;
}
.red{
    color: var(--red);
}
.alert{
    font-weight: 700;
    letter-spacing: 5px;
}
p{
    margin-top: -5px;
    font-size: 20px;
    font-weight: 400;
    color: #5e5e5e;
    letter-spacing: 1px;
}
button,
.dot{
    cursor: pointer;
}
#success-box{
    position: absolute;
    width: 29%;
    height: 70%;
    left: 12%;
    background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(203, 205, 211, 10);
    perspective: 40px;
}
#error-box{
    position: absolute;
    width: 29%;
    height: 70%;
    right: 12%;
    background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(203, 205, 211, 10);
}
@keyframes roll {
    0%{
        transform: rotate(0deg);
        left: 25%;
    }
    50%{
        transform: rotate(168deg);
        left: 60%;
    }
    100%{
        transform: rotate(0deg);
        left: 25%;
    }    
}
@keyframes move {
    0%{
        left: 25%;
    }
    50%{
        left: 60%;
    }
    100%{
        left: 25%;
    }
}
.scale{
    animation: scale 1s ease-in infinite;
}
.move{
    animation: move 3s ease-in-out infinite;
}
.message{
    position: absolute;
    width: 100%;
    text-align: center;
    height: 40%;
    top: 47%;      
}
.button-box{
    position: absolute;
    background: var(--bg);
    width: 50%;
    height: 15%;
    border-radius: 100px;
    top: 78%;
    left: 25%;
    outline: none;
    border:none;
    box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
    transition: all 0.5s ease-in-out;    
}
.button-box:hover{
    background: #efefef;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
@keyframes bounce {
    50%{
        transform: translateY(-10px);
    }
}
@keyframes scale {
    50%{
        transform: scale(0.9);
    }
}
.eye{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #777;
    border-radius: 50%;
    top: 40%;
    left: 20%;
}
.right{
    left: 70%;
}
.mouth{
    position: absolute;
    top: 43%;
    left: 44%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}
.happy{
    border: 2px solid;
    border-color: transparent #777 #777 transparent;
    transform: rotate(45deg);
}
.sad{
    top: 49%;
    border:2px solid;
    border-color: #777 transparent transparent #777;
    transform: rotate(45deg);
}
.shadow{
    position: absolute;
    width: 21%;
    height: 3%;
    opacity: 0.5;
    background: #777;
    left: 40%;
    top: 43%;
    border-radius: 50%;
    z-index: 1;
}
/* FLASH MESSAGE END */