/* START PASSWORD VALIDATOR */

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(253, 73, 73);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

form{
    position: relative;
}

input{
    min-width: 28rem;
    height: 4rem;
    padding: 0 25px;
    outline: 0;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 50px;
    font-size: 24px;
    letter-spacing: 1px;
}

.far{
    position: absolute;
    font-size: 30px;
    color: rgb(39, 39, 39);
    top: 1.1rem;
    right: 1.2rem;
    cursor: pointer;
}

.message{
    position: relative;
    width: 25rem;
    height: 14rem;
    background: white;
    top: 1.5rem;
    border-radius: 10px;
    opacity: 0;
    transition: .3s;
}
.password-contain{
    position: relative;
    font-size: 22px;
    padding: 0 60px;
    color: rgb(46, 45, 45);
    font-weight: 500;
}
.valid{
    color: green;
}

.invalid{
    color: red;
}

.fas{
    position: relative;
    top: 1.6rem;
    font-size: 22px;
    padding: 0 30px;
    color: red;
}

.fa-check{
    color:green;
} */

/* END PASSWORD VALIDATOR */

/* LOGIN PAGE START */
/* @import url('https://fonts.googleapis.com/css?familyMontserrat:600&display=swap');
html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fff;
}
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background: #fc5185;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #000;
}
.row{
    text-align: center;
    margin-top: -100px;
}
.login-box img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #0e153a;
    text-align: center;
}
.login-box .user-box{
    position: relative;
}
.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: #0e153a;
    font-size: 12px;
}
span{
    position: relative;
    display: inline-flex;
    width: 120px;
    height: 45px;
}
span a{
    font-size: 12px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateY(-25px);
    transition: transform .25s;
}
span a:before,
span a:after{
    height: 45px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 5px;
}
span a:before{
    position: absolute;
    content: "BUTTON";
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
}
span a:after{
    position: absolute;
    content: "SUBMIT";
    font-weight: bold;
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
    border: 2px solid white;
    background: #fff;
}
span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
} */
/* LOGIN PAGE END */

/* LOGIN PAGE START */
/*  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
}
.container{
    background: rgb(15,15,15);
    width: 350px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    padding: 2em;
}
.heading{
    font-size:2em;
    margin-bottom: 0.5em;
}
.box{
    margin: 0.2em 0;
}
.container .box p{
    color: rgba(255,255,255,0.781);
}
.container .box div{
    position: relative;
    width: 100%;
    height: 40px;
    margin: 0.5em 0;
}
.container .box input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(19,19,19);
    color: #ffffff;
    border: none;
    outline: none;
    padding-left: 0.8em;
    border-radius: 10px;
    transition: all .4s;
}
.loginBtn:hover{
    transform: translate(-1%,5%);
    box-shadow: 0 0 10px #ff416d65;
}
.text{
    font-size: 0.8em;
    margin-top: 0.5em;
    text-align: center;
    color: rgba(255,255,255,0.623);
}
.texta{
    color: rgba(255,255,255,0.911);
}
.container .box input:focus::placeholder{
    color: #ffffff;
}
.container .box div::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 102%;
    height: 105%;
    border-radius: 10px;
    background: linear-gradient(to right, #ff414c,#ff4b2b);
}
.loginBtn{
    width: 102%;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 0.5em 0;
    transform: translate(-1%);
    cursor: pointer;
    color: #ffffff;
    background: linear-gradient(to right, #ff414c,#ff4b2b);
    transition: all .4s;
} */
/* LOGIN PAGE END */

/* login start */
*{
    box-sizing: border-box;    
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 280px;
    height: 480px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1), 0 4px 8px rgba(0,0,0,.1);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color:#26242e;
    background: #f6f8fb;
}
.inputs{
    width: 250px;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.input-field{
    border:none;
    width: 250px;
    height: 45px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding-left: .7rem;
    outline: none;
}
::placeholder{
    color: #bfbfbf;
}
.radio-btn{
    width: 100%;
    height: 45px;
    display: flex;
}
.radio-btn input{
    display: none;
}
.radio-btn label{
    position: relative;
    width: 100px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
    margin-right: .3rem;
}
.mark{
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #bfbfbf;
    border-radius: 50%;
    transition: .3s;
}
.mark::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 13px;
    height: 13px;
    background: #1294fc;
    border-radius: 50%;
    opacity: 0;
    transition: .3s;
}
.btn-border{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 45px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}
input[type="radio"]:checked ~ .mark{
    border-color: #1294fc;
}
input[type="radio"]:checked ~ .btn-border{
    border-color: #1294fc;
}
input[type="radio"]:checked ~ .mark::before{
    opacity: 1;
}
.text{
    display: flex;
    align-items: center;
}
.btn button{
    width: 250px;
    height: 45px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: #1294fc;
    color: #fff;
} 

